.main-loader {
  display: inline-block;

  &--full-width {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &--fullscreen {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
  }

  &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: transparent; /* Скрываем текстовый цвет */
    text-align: left;
    letter-spacing: -2px;
    text-shadow: -1px -1px rgba(155, 28, 19, 0.1);
    background: linear-gradient(
      135deg,
      var(--info-color),
      var(--info-color),
      rgba(var(--neutral-color-rgb), 1),
      var(--info-color),
      var(--info-color)
    ); /* Глянцевая полоса в градиенте */

    background-clip: text; /* Обрезка цвета фона внутри текста */
    background-size: 200%;
    animation: shine 3s infinite linear;
  }
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}
