@import './theme-variables';

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100dvh;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  transition:
    background-color var(--transition-medium),
    color var(--transition-medium);
}

body {
  width: 100% !important;
  margin: 0 auto;
  overflow-x: hidden;
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
  background: none;
  background-color: transparent;
  border: none;
}

.app-router-not-found {
  margin-top: 32px;
}
