.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--color-background);

  --container-width: min(calc(100% - 32px), 1280px);

  &__main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__error {
    width: var(--container-width);
    padding: 24px;
    margin-inline: auto;
    margin-top: 32px;
    background-color: var(--color-background-paper);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow-medium);
  }

  &__footer {
    position: sticky;
    bottom: -1px;
    z-index: 1100;
    padding: 8px 16px 12px;
    background-color: var(--color-background-paper);
    border-top: 1px solid var(--color-border);
    box-shadow: var(--shadow-medium);
  }

  &__footer-placeholder {
    position: fixed;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1100;
    width: 100%;
    height: 200px;
    background-color: var(--color-background-paper);
  }

  &__footer-content {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: var(--container-width);
    margin-inline: auto;
  }

  &__footer-info {
    display: block;
    max-width: 360px;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    text-align: left;
  }

  &__footer-link {
    color: var(--color-text-primary);
    text-decoration: underline;
    cursor: pointer;
  }

  // Анимации для плавных переходов
  * {
    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }

  // Стили для мобильных устройств
  @media (max-width: 767px) {
    --container-width: calc(100% - 32px);
  }

  @media (max-width: 900px) {
    &__footer {
      display: none;
    }
  }

  // Стили для планшетов и десктопов
  @media (min-width: 768px) {
    --container-width: min(calc(100% - 48px), 1280px);
  }

  // Стили для больших экранов
  @media (min-width: 1200px) {
    --container-width: min(calc(100% - 64px), 1280px);
  }
}
