.anime-card {
  display: block;
  contain-intrinsic-size: 280px;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(7px);
    transition: transform 0.3s ease-in-out;
  }
}
