.anime-info-dropdown {
  position: absolute;
  top: 8px;
  left: 8px;

  &__info-button {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(4px) !important;
    transition: all 0.3s ease-in-out !important;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7) !important;
      transform: scale(1.1) !important;
    }
  }
}
